@charset "UFT-8";
section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
}
iframe#frame-spec::-webkit-scrollbar {
    display: none;
}
hgroup#cabecalho-artigodois h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
.direita {
    text-align: right;
    font-size: 10pt;
    color: #606060;
}
hgroup#cabecalho-artigodois h2{
font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}
hgroup#cabecalho-artigodois h3{
    font-size: 12px;
    background-color: #ffffff;
    margin: 10px;
    color: #888888;
}
